absl-py==0.11.0
asn1crypto==0.24.0
astor==0.8.1
cryptography==2.1.4
gast==0.2.2
google-pasta==0.2.0
grpcio==1.34.0
h5py==2.10.0
idna==2.6
importlib-metadata==3.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.3.3
numpy==1.18.5
opt-einsum==3.3.0
protobuf==3.14.0
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
tensorboard==1.15.0
tensorflow==1.15.5
tensorflow-estimator==1.15.1
termcolor==1.1.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
